<template>
  <div class="about">
    <div class="parallax">
      <div class="parallax-top-left" tabindex="1"></div>
      <div class="parallax-top-right" tabindex="2"></div>
      <div class="parallax-bottom-left" tabindex="3"></div>
      <div class="parallax-bottom-right" tabindex="4"></div>
      <div class="parallax-content">
        <div class="parallax-back">
          <p class="profileText">
            <span id="bookFont">About me</span>
            <br />Hello everyone! <br />I'm Sogeta <br />Yes, i am one of those
            bookworms that would rather spend Friday nights on the couch with a
            book than out at a party. <br />I spend most of my time at the
            library, so if by any chance no one can reach me, that means i am
            lost in the library. ‎<br />Besides reading, I enjoy watching book
            adaptations and compare between the book and the movie. <br />I
            started reading back to high school days when a friend of mine
            loaned me one of Agatha Christe novels. well, that book was a trap
            the led me to the rabbit hole. <br />And yes the next book that i
            read was Alice in the wonderland. <br />The author who keeps me up
            the whole night is Agatha Christe. <br />The author who makes me cry
            for hours is Fredrick Backman. <br />The author who get on my nerves
            is Guillaume Musso. <br />The author that once i start reading her
            book i can't put it down is Elif Shafak. <br />Regardless, those
            four authors are my favorite authors. <br /><br />
            <strong>What to find in my blog?</strong>
            <br />
            Here you’ll find weekly book, movie and book adaptions reviews and
            some article that got my attention. I’m not a professional book
            reviewer but I can assure you that I’ll give my 100% honest and fair
            opinions. I do not include spoilers because I myself hate them. If I
            do, I make sure that there’s a warning in the beginning. <br />Happy
            Reading! ♥‎ <br /><br />
            <span id="bookFont">Sogeta Al.</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</template>