<template>
  <div>
   <p class="articleFooter">
                <span v-if="!authors"
                  >No authors to display</span
                >
                <span v-else>
                  <span
                    v-for="(author, index) in authors"
                    :key="index"
                  >
                    <em>
                      {{
                        index + 1 !== authors.length &&
                        index + 1 !== authors.length - 1
                          ? author + ", "
                          : index + 1 == authors.length &&
                            index + 1 !== 1
                          ? " and " + author
                          : author
                      }}
                    </em>
                  </span>
                </span>
              </p>
  </div>
</template>

<script>
export default {
  props: [
    'authors'
    
  ]
}
</script>