<template>
  <div>
    <template v-if="images">
      <img :src="images.thumbnail" class="bookThumbnail" />
    </template>
    <template v-else>
      <img :src="require(`@/assets/bookNotFound.png`)" class="bookThumbnail" />
    </template>
  </div>
</template>

<script>
export default {
  props: ["images"],
};
</script>