<template>
  <div>
    <b-card no-body class="overflow-hidden" id="cardborder">
      <b-row no-gutters>
        <b-col md="4">
          <BookImage :images="book.imageLinks" id="modalImg" />
        </b-col>
        <b-col md="8">
          <b-card-body>
            <b-card-text>
              <div id="bookFont">{{ book.title }}</div>
              <Author :authors="book.authors" />
              <div>{{ book.description }}</div>

              <a
                class="btn btn-outline-danger"
                v-bind:href="book.infoLink"
                target="_blank"
                >get book</a
              >
            </b-card-text>
          </b-card-body>
        </b-col>
      </b-row>
    </b-card>
  </div>
</template>

<script>
import Author from "./author.vue";
import BookImage from "./bookImage.vue";
export default {
  components: {
    Author,
    BookImage,
  },
  props: ["book"],
};
</script>