<template>
  <div class="sideBar">
    <section id="sideBar">
      <aside>
        <header class="sideBarHeader">welcome to my blog!</header>
        <div class="profileAside">
          <p class="profileText">
            Hello everyone!<br />I am Sogeta, a long standing bookworm with a
            passion for brilliant books. ‎Besides reading, I enjoy watching book
            adaptations and compare between the book and the movie. Here you’ll
            find weekly book, movie and book adaptions reviews and some article
            that got my attention. I'm dreaming of having my ‎own library at
            home or to be more specific i'm dreaming to have my home in a
            library. <br />Happy Reading! ♥‎
          </p>
          <div class="profileContent">
            <img src="../assets/img_avatar2.png" class="pic" />
            
            <div>Sogeta Al.</div>
          </div>
        </div>
      </aside>
      <aside>
        <header class="sideBarHeader">My Currently Reading</header>
        <ul v-for="book in books" :key="book.title" id="sideBarBorder">
          <li class="currentlyReadingList">
            <img
              title="asyl"
              v-bind:src='book.imageLink'
              class="currentlyReadingImg"
            />
            <a
              v-bind:href="book.link"
              target="_blank"
            >{{book.title}}</a>
            <small>
              <div> by {{book.author}}</div>
            </small>
          </li>
        </ul>
      </aside>
    </section>
  </div>
</template>


<script>
import sideBar from "../components/sideBar.vue";
export default {
  components: {
    sideBar,
  },
  data() {
    return {
      books: [],
    };
  },
  created() {
    this.getAllBooksFromApi("asyl", "liza Marklund");
    this.getAllBooksFromApi("gömda", "liza Marklund");
  },
  methods: {
    getAllBooksFromApi(bookTitle, author) {
      fetch(
        "https://www.googleapis.com/books/v1/volumes?q=" +
          bookTitle +
          "+inauthor:" +
          author,
        {
          method: "Get",
        }
      )
        .then(function (response) {
          const statusCode = response.status;
          if (statusCode != 200) {
            throw "internal server error";
          }
          return response.json();
        })
        .then((books) => {
          const book = {
            title: books.items[1].volumeInfo.title,
            author: books.items[1].volumeInfo.authors[0],
            link: books.items[1].volumeInfo.infoLink,
            imageLink: books.items[1].volumeInfo.imageLinks.smallThumbnail
          }
          this.books.push(book);
        })
        .catch(function (error) {
          console.log("error " + error);
        });
    },
  },
};
</script>

