
#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: black;
  }
  
a{
  text-decoration:none;
  color:inherit;
}a:hover{
  color: #EE7272;
}
#logo{
    height:150px;
    width:280px;  
}
#nav {
    width:100%;
    height:50px;
    background-color:white;
    border-top:1px solid rgba(0,0,0,.2);
    border-bottom:1px solid rgba(0,0,0,.2);
    position:sticky;
    top:0;
    z-index:1;
    justify-content: center;
}

#nav a, #nav form {
  color:#A31818 ;
  font-family:arial;
  padding:0 40px 0 0 ;
  text-transform:uppercase;
  text-decoration: none;
}


#nav a.router-link-exact-active {
  color: #EE7272;
  
}
  
#bookFont {
    font-family: "Edwardian Script ITC";
    font-size: 46px;
    color: #a31818;
    font-weight: bold;
  }
  .parallax {
    width: 75%;
    height: 700px;
    margin: 0 auto;
    margin-top: 5%;
  }
  .parallax-back {
    box-shadow: 0 0 3px 3px rgba(163, 24, 24, 0.2);
    border: 1px solid rgba(163, 24, 24, 0.4);
  }
  
ul {
    list-style-type: none;
  }
  .category {
    color: #a31818;
    font-size: 12px;
    font-family: "arial";
    text-transform: uppercase;
    display: inline-block;
  }
  .articleHeader {
    display: block;
    text-align: center;
    font-family: Arial;
    text-transform: capitalize;
  }
  .articleFooter {
    color: #9a9a9a;
    margin-bottom: 2%;
    font-style: italic;
    display: block;
    text-transform: capitalize;
  }
  .articleImage {
    width: 90%;
    height: 400px;
    display: inline-block;
  }
  #endOfArticle{
      border-bottom:1px solid rgba(0,0,0,.2);
      width:100%;
      margin-top:2%;
  }


  .pic{
    
    width:150px;
    height:150px;
    display:inline-block;
    border:6px solid rgba(154, 154, 154,0.3);
    border-radius:50%;
    overflow:hidden;
    z-index:1;
    position:relative;
    box-shadow:0 0 2px 2px #A31818 ;
    background-color: white;
}
.profileAside{
    background-color:rgba(154, 154, 154,0.3);
    position:relative;
    margin-bottom:200px;
    padding-bottom:50px;
}
.profileAside:before,.profileAside:after{
    content:"";
    border-top:70px solid rgba(154, 154, 154,0.3);
    border-right:70px solid transparent;
    position:absolute;
    bottom:-70px;
    left:0;
}
.profileAside:after{
    border-right:none;
    border-left:70px solid transparent;
    left:auto;
    right:0;
}
.profileText{
    text-align:center;
    padding:50px 20px 10px 20px;
    opacity:0.7;
    font-style:italic;
}
.profileAside .profileContent{
    width:100%;
    position:absolute;
    left:0;
}
.profileContent div{
    font-family:"Edwardian Script ITC";
    font-size:36px;
    color:#A31818;
    text-align:center;
    margin-top:10px;
}

.sideBarHeader{
    border:1px solid rgba(0,0,0,.2);
    color:#A31818;
    padding:4% 10%;
    font-family:arial;
    text-transform:uppercase;
    font-size: 14px;
    background-color:#EBEBEB;
}
#sideBar{
    height:100%;
    border-left:1px solid rgba(0,0,0,.2);
}
aside{
    width:90%;
    margin:10% 0 0 10%;
    border-bottom:1px solid rgba(0,0,0,.2);
}
#sideBarBorder{
    border:1px solid rgba(0,0,0,.2);
    border-radius:10px;
    padding:4% 10%;
    margin:5% 0;
}
.currentlyReadingList{
    display:inline-block;
    border-bottom:1px solid rgba(0,0,0,.2); 
    padding:4% 0;
    margin:0 10%;
}
.currentlyReadingImg{
    width:100px;
    height:100px;
    float:left;
    display:block;
    margin:5% 25%;
}

#movieFont{
  font-family:"broadway";
  font-size:36px;
  color:#A31818;
  margin-bottom:30px;
}

#bookAdaptionsImg{
  display:grid;
  grid-template-columns:50% 50%;
}

#bookAdaptionFont{
  font-family:"Niagara Engraved";
  color:#A31818;
  font-size:36px;
}
.col-sm-9{
  margin-top: 20px;
}
#searchInput:focus{
  border-color: #A31818;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #EE7272;
  outline: 0 none;
  background-color: white;
}
#searchInput{
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  border: 1px solid #ced4da;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.bookThumbnail{
  width: 200;
  height: 200px;
  display: inline-block;
}
.btn-outline-danger{
  border-color: #A31818;
  color: #A31818;
  margin-left: 5px;
  font-family:arial;
  text-transform:uppercase;
  text-decoration: none;
}
.btn-outline-danger:hover{
  border-color: #A31818;
  background-color: #A31818;
  color: white;
  margin-left: 5px;
  font-family:arial;
  text-transform:uppercase;
  text-decoration: none;
}
#modalImg{
  margin: 35px;
}
#cardborder{
  box-shadow: 0 0 3px 3px rgba(225, 225, 225, 0.8);
}