<template>
  <div id="app" class="container">
    <img src="./assets/logo.png" />
    <div class="main-menu">
      <div id="nav" class="navbar navbar-expand-lg sticky-top navbar-light">
        <router-link to="/books">Books</router-link>
        <router-link to="/movies">Movies</router-link>
        <router-link to="/adaptations">Books adaptations</router-link>
        <router-link to="/about">About</router-link>
        <form @submit.prevent="search" class="form-inline my-2 my-lg-0">
          <input
            type="text"
            v-model="keyword"
            placeholder="Search on google books"
            id="searchInput"
            required
          />
          <input
            type="submit"
            value="Search"
            class="btn btn-outline-danger"
          />
        </form>
      </div>
    </div>
    <router-view />
  </div>
</template>
<script>
export default {
  data() {
    return {
      keyword: "",
    };
  },
  methods: {
    search() {   
      this.$router.push("/search/" + this.keyword).catch((err) => {
        if (
          err.name !== "NavigationDuplicated" &&
          !err.message.includes(
            "Avoided redundant navigation to current location"
          )
        ) {
          logError(err);
        }
      });
    },
  },
};
</script>
<style>
@import "./assets/style.css";
</style>
