<template>
  <div class="home">
    <div class="container">
      <div class="row">
        <about class="col-sm-9"/>
        <sideBar class="col-sm-3"/>
      </div>
    </div>
  </div>
</template>
<script>
import sideBar from "../components/sideBar.vue";
import about from "../components/about.vue";

export default {
  components: {
    sideBar,
    about,
  },
};
</script>
