<template>
  <div class="books">
    <div class="container">
      <div class="row">
        <div class="col-sm-9">
          <ul v-for="adaptation in adaptations" :key="adaptation.bookAdaptionsID">
            <li>
              <article>
                <div class="category">
                  <router-link to="/adaptations">Book Adaptation</router-link>
                </div>
                <header>
                  <router-link
                    :to="'/adaptations/' + adaptation.bookAdaptionsID"
                    class="articleHeader"
                    >{{ adaptation.name }}</router-link>
                  <footer class="articleFooter">{{ adaptation.author }}</footer>
                  <figure id="bookAdaptionsImg">
							<img :src="require(`@/assets/books/${adaptation.bookID}.jpg`)" class="articleImage">
							<img :src="require(`@/assets/booksAdaptions/${adaptation.bookID}.jpg`)" class="articleImage">
                    </figure>
                </header>
                <footer class="articleFooter">{{ adaptation.quotes }}</footer>
                <div id="endOfArticle"></div>
              </article>
            </li>
          </ul>
        </div>
        <sideBar class="col-sm-3" />
      </div>
    </div>
  </div>
</template>
<script>
import sideBar from "../components/sideBar.vue";
export default {
  components: {
    sideBar,
  },
  data() {
    return {
      adaptations: [],
    };
  },
  created() {
    this.getAllBooksAdaptations();
  },
  methods: {
    getAllBooksAdaptations() {
      fetch("http://localhost:3000/adaptations", {
        method: "Get",
      })
        .then(function (response) {
          const statusCode = response.status;
          if (statusCode != 200) {
            throw "internal server error";
          }
          return response.json();
        })
        .then((adaptations) => {
          this.adaptations = adaptations;
        })
        .catch(function (error) {
          console.log("error " + error);
        });
    },
  },
}
</script>
