<template>
  <div class="books">
    <div class="container">
      <div class="row">
        <div class="col-sm-9">
          <article>
            <header>
              <h1 class="articleHeader">{{ adaptation.name }}</h1>
              <footer class="articleFooter">{{ adaptation.author }}</footer>
              <figure id="bookAdaptionsImg">
                <img
                  :src="require(`@/assets/books/${adaptation.bookID}.jpg`)"
                  class="articleImage"
                />
                <img
                  :src="
                    require(`@/assets/booksAdaptions/${adaptation.bookID}.jpg`)
                  "
                  class="articleImage"
                />
              </figure>
            </header>
            <footer class="articleFooter">{{ adaptation.quotes }}</footer>
            <main class="articleContent">
              <div id="bookAdaptionFont">Synopsis</div>
              <p>{{ adaptation.synopsis }}</p>
              <div id="bookAdaptionFont">My thoughts</div>
              <p>{{ adaptation.adaptionsReview }}</p>
              <div id="endOfArticle"></div>
            </main>
            <div id="endOfArticle"></div>
          </article>
        </div>
        <sideBar class="col-sm-3" />
      </div>
    </div>
  </div>
</template>
<script>
import sideBar from "../components/sideBar.vue";
export default {
  components: {
    sideBar,
  },
  data() {
    return {
      adaptation: [],
    };
  },
  created() {
    this.getTheBooksAdaptation();
  },
  methods: {
    getTheBooksAdaptation() {
      const id = this.$route.params.id;
      fetch("http://localhost:3000/adaptations/" + id, {
        method: "Get",
      })
        .then(function (response) {
          const statusCode = response.status;
          if (statusCode == 500) {
            throw "internal server error";
          } else if (statusCode == 404) {
            throw "page not found";
          }
          return response.json();
        })
        .then((adaptation) => {
          this.adaptation = adaptation;
        })
        .catch(function (error) {
          console.log("error " + error);
        });
    },
  },
};
</script>
