<template>
  <div class="books">
    <div class="container">
      <div class="row">
        <div class="col-sm-9">
          <ul v-for="book in books" :key="book.bookID">
            <li>
              <article>
                <div class="category">
                  <router-link to="/books">Book</router-link>
                </div>
                <header>
                  <router-link
                    :to="'/books/' + book.bookID"
                    class="articleHeader"
                    >{{ book.name }}</router-link
                  >
                  <footer class="articleFooter">{{ book.author }}</footer>
                  <img
                    :src="require(`@/assets/books/${book.bookID}.jpg`)"
                    class="articleImage"
                  />
                </header>
                <footer class="articleFooter">{{ book.quotes }}</footer>
                <div id="endOfArticle"></div>
              </article>
            </li>
          </ul>
        </div>
        <sideBar class="col-sm-3" />
      </div>
    </div>
  </div>
</template>
<script>
import sideBar from "../components/sideBar.vue";
export default {
  components: {
    sideBar,
  },
  data() {
    return {
      books: [],
    };
  },
  created() {
    this.getAllBooks();
  },
  methods: {
    getAllBooks() {
      fetch("http://localhost:3000/books", {
        method: "Get",
      })
        .then(function (response) {
          const statusCode = response.status;
          if (statusCode != 200) {
            throw "internal server error";
          }
          return response.json();
        })
        .then((books) => {
          this.books = books;
        })
        .catch(function (error) {
          console.log("error " + error);
        });
    },
  },
}
</script>
