<template>
  <div class="bookApi">
    <div class="container">
      <div class="row">
        <div class="col-sm-9">
          <ul v-for="book in books" :key="book.id">
            <li>
              <a onmouseover="this.style.cursor='pointer'"
                class="articleHeader"
                @click="showClientDetails(book.volumeInfo)"
                >{{ book.volumeInfo.title }}</a
              >
              <Author :authors="book.volumeInfo.authors" />
              <BookImage :images="book.volumeInfo.imageLinks" />
              <div id="endOfArticle"></div>
            </li>
          </ul>
          <b-modal
            id="client-details-modal"
            centered
            size="lg"
            content-class="shadow"
            hide-header = true
            hide-footer = true 
            header-bg-variant="none"
          >
            <BookPopUp :book="book" />
          </b-modal>
        </div>
        <sideBar class="col-sm-3" />
      </div>
    </div>
  </div>
</template>

<script>
import sideBar from "../components/sideBar.vue";
import Author from "../components/author.vue";
import BookImage from "../components/bookImage.vue";
import BookPopUp from "../components/bookPopUp.vue";
export default {
  components: {
    sideBar,
    Author,
    BookImage,
    BookPopUp,
  },
  data() {
    return {
      keyword: this.$route.params.keyword,
      books: [],
      book: {},
    };
  },
  created() {
    this.getAllBooksFromApi(this.keyword);
  },
  methods: {
    showClientDetails(item) {
      this.book = item;
      console.log(this.book);
      this.$bvModal.show("client-details-modal");
    },
    getAllBooksFromApi(bookTitle) {
      fetch("https://www.googleapis.com/books/v1/volumes?q=" + bookTitle, {
        method: "Get",
      })
        .then(function (response) {
          const statusCode = response.status;
          if (statusCode != 200) {
            throw "internal server error";
          }
          return response.json();
        })
        .then((books) => {
          this.books = books.items;
        })
        .catch(function (error) {
          console.log("error " + error);
        });
    },
  },
};
</script>

<style scoped>
ul {
  display: inline-block;
}

ul li:first-child {
  list-style: none;
}
</style>
