<template>
  <div class="home">
    <div class="container">
      <div class="row">
        <div class="col-sm-9">
          <article>
            <header>
                <br>
              <h1 class="articleHeader">{{ book.name }}</h1>
              <footer class="articleFooter">{{ book.author }}</footer>
              <img
                    :src="require(`@/assets/books/${book.bookID}.jpg`)"
                    class="articleImage"
                />
            </header>
            <footer class="articleFooter">"{{ book.quotes }}"</footer>
            <main class="articleContent">
              <div id="bookFont">Synopsis</div>
              <p>{{ book.synopsis }}</p>
              <div id="bookFont">My thoughts</div>
              <p>{{ book.review }}</p>
              <div id="endOfArticle"></div>
            </main>
          </article>
        </div>
        <sideBar class="col-sm-3" />
      </div>
    </div>
  </div>
</template>
<script>
import sideBar from "../components/sideBar.vue";

export default {
  components: {
    sideBar,
  },
  data() {
    return {
      book: [],
    };
  },
  created() {
    this.getTheBook();
  },
  methods: {
    getTheBook() {
      const id = this.$route.params.id
      fetch("http://localhost:3000/books/" + id, {
        method: "Get",
      })
        .then(function (response) {
          const statusCode = response.status;
          if (statusCode == 500) {
            throw "internal server error";
          } else if (statusCode == 404) {
            throw "page not found";
          }
          return response.json();
        })
        .then((book) => {
          this.book = book;
        })
        .catch(function (error) {
          console.log("error " + error);
          console.log("error " + error);
        });
    },
  },
};
</script>