<template>
  <div class="home">
     <div class="container">
      <div class="row">
        <div class="col-sm-9">
              Home page
        </div>
        <sideBar class="col-sm-3"/>
      </div>
    </div>
  </div>
</template>

<script>

import sideBar from '../components/sideBar.vue'

export default {
  
  components: {
    sideBar
  }
}
</script>
