<template>
  <div class="home">
    <div class="container">
      <div class="row">
        <div class="col-sm-9">
          <ul v-for="movie in movies" :key="movie.movieID">
            <li>
              <article>
                <div class="category">
                  <router-link to="/movies">Movie</router-link>
                </div>
                <header>
                  <router-link
                    :to="'/movies/' + movie.movieID"
                    class="articleHeader"
                    >{{ movie.name }}</router-link
                  >
                  <footer class="articleFooter">{{ movie.actor }} {{movie.actress}}</footer>
                  <img
                    :src="require(`@/assets/movies/${movie.movieID}.jpg`)"
                    class="articleImage"
                  />
                </header>
                <footer class="articleFooter">{{ movie.quotes }}</footer>
                <div id="endOfArticle"></div>
              </article>
            </li>
          </ul>
        </div>
        <sideBar class="col-sm-3" />
      </div>
    </div>
  </div>
</template>

<script>
import sideBar from "../components/sideBar.vue";

export default {
  components: {
    sideBar,
  },
  data() {
    return {
      movies: [],
    };
  },
  created() {
    this.getAllMovies();
  },
  methods: {
    getAllMovies() {
      fetch("http://localhost:3000/movies", {
        method: "Get",
      })
        .then(function (response) {
          const statusCode = response.status;
          if (statusCode != 200) {
            throw "internal server error";
          }
          return response.json();
        })
        .then((movies) => {
          this.movies = movies;
        })
        .catch(function (error) {
          console.log("error " + error);
        });
    },
  },
};
</script>
