<template>
  <div class="home">
    <div class="container">
      <div class="row">
        <div class="col-sm-9">
          <article>
            <header>
                <br>
              <h1 class="articleHeader">{{ movie.name }}</h1>
              <footer class="articleFooter">{{ movie.actor }} {{movie.actress}}</footer>
              <img
                    :src="require(`@/assets/movies/${movie.movieID}.jpg`)"
                    class="articleImage"
                />
            </header>
            <footer class="articleFooter">"{{ movie.quotes }}"</footer>
            <main class="articleContent">
              <div id="movieFont">Synopsis</div>
              <p>{{ movie.synopsis }}</p>
              <div id="movieFont">My thoughts</div>
              <p>{{ movie.review }}</p>
              <div id="endOfArticle"></div>
            </main>
          </article>
        </div>
        <sideBar class="col-sm-3" />
      </div>
    </div>
  </div>
</template>
<script>
import sideBar from "../components/sideBar.vue";

export default {
  components: {
    sideBar,
  },
  data() {
    return {
      movie: [],
    }
  },
  created() {
    this.getTheMovie()
  },
  methods: {
    getTheMovie() {
      const id = this.$route.params.id;
      fetch("http://localhost:3000/movies/" + id, {
        method: "Get",
      })
        .then(function (response) {
          const statusCode = response.status;
          if (statusCode == 500) {
            throw "internal server error";
          } else if (statusCode == 404) {
            throw "page not found";
          }
          return response.json()
        })
        .then((movie) => {
          this.movie = movie
        })
        .catch(function (error) {
          console.log("error " + error);
        });
    },
  },
};
</script>